<!-- HEADER -->
  <div fxLayout="row wrap">
    <div>
      <img src="assets/images/logo-aps.png" alt="homepage" class="light-logo">
    </div>
    <span fxFlex></span>
    <button mat-icon-button color="warn" matDialogClose="cancel" matTooltip="Salir" (click)="close('close')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h2 mat-dialog-title class="head-dialog" style="text-align: center;">Registro de Almacenes</h2>
<!--FIN DEL HEADER -->
<!-- BODY -->
  <div mat-dialog-content> <!-- instead of your <div>  or use <div mat-dialog-content> -->
    <!-- FORMULARIO -->
      <!-- SUBTITULO FORMULARIO -->
        <mat-card-subtitle>{{_words.esp.datosDocumento}}</mat-card-subtitle>
      <!-- FIN SUBTITULO FORMULARIO -->
      <!-- FORMULARIO INSECION -->
        <div fxLayout="row wrap">
      <!----------------------- FILA 1 ----------------------------->

          <!-- TIPO DE REGISTRO -->
          <div fxFlex="50">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Tipo de Registro</mat-label>
                <mat-select formControlName="rc_inten">
                  <mat-option *ngFor="let option of this.dataOptions.institucion" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                </mat-select>
                <mat-error >Seleccione una instititucion</mat-error>
              </mat-form-field>
            </form>
          </div>

          <!-- ALMACEN -->
          <div fxFlex="50">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Almacen</mat-label>
                <mat-select formControlName="rc_mercado">
                  <mat-option *ngFor="let option of this.dataOptions.mercado" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                </mat-select>
                <mat-error >Seleccione el Mercado</mat-error>
              </mat-form-field>
            </form>
          </div>          

          <!-- TIPO DOCUMENTO -->
          <div fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Tipo de documento</mat-label>
                <mat-select formControlName="rc_tipo">
                  <mat-option *ngFor="let option of this.dataOptions.documentos" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                </mat-select>
                <mat-error >Seleccione una tipo de documento</mat-error>
              </mat-form-field>
            </form>
          </div>          




        <!-- FECHA -->
          <div fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="rc_fecha" readonly>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </form>
          </div>

      <!---------------------- FIN FILA 1 ------------------------->
      <!---------------------- FILA 2 ----------------------------->

        <!-- NUMERO -->
          <div fxFlex.gt-lg="55" fxFlex.gt-md="55"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Identificador del Documento </mat-label>
                <input  matInput formControlName="rc_numero">
                <mat-error >*Número o identificador del Documento</mat-error>
              </mat-form-field>
            </form>
          </div>
      <!---------------------- FIN FILA 2 ------------------------->

      <!---------------------- FILA 3 ----------------------------->
        <!-- Descripción -->
          <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input  matInput formControlName="rc_titulo"  maxlength = "1000">
                <mat-error >Ingrese una Descripción</mat-error>
              </mat-form-field>
            </form>
          </div>
      <!---------------------- FIN FILA 3 ------------------------->
      
      <!---------------------- FILA 4 ----------------------------->
        <!-- COMENTARIOS -->
          <div fxFlex.gt-lg="70" fxFlex.gt-md="70"  fxFlex.gt-xs="100" fxFlex="100" >
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline"  >
                <mat-label>Comentario</mat-label>
                <input  matInput formControlName="rc_comentarios" maxlength = "2000" >
                <mat-error >Ingrese un comentario</mat-error>
              </mat-form-field>
            </form>
          </div>

          <!-- ASIGNAR A  -->
          <div fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Asignar a:</mat-label>
                <mat-select formControlName="derivado">
                  <mat-option *ngFor="let option of this.dataOptions.usuarios" [value]="option.value">{{option.label}}</mat-option>
                </mat-select>
                <mat-error >Seleccione el Mercado</mat-error>
              </mat-form-field>
            </form>
          </div>
      <!---------------------- FIN FILA 4 ------------------------->
      <!---------------------- FILA 5 ----------------------------->
        <!-- ADJUNTA DOCUMENTO -->
          <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100" >
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <input type="text" formControlName="rc_filename" readonly matInput (click)="file.click()" />
                <input #file type='file' accept="application/pdf" />
                <button mat-button matSuffix mat-icon-button color="warn" aria-label="Clear" (click)="clearFile()">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error >Adjunte un documento válido</mat-error>
              </mat-form-field>
            </form>
          </div>
      <!---------------------- FIN FILA 5 ------------------------->

      </div>
      <!-- FIN DEL  FORMULARIO INSECION -->


      <!-- DATA DE TABLA PRODUCTOS  -->
      <div >
        <mat-card-subtitle >{{_words.esp.registroNotificaciones}}</mat-card-subtitle>
        <!-- BODY - FORMULARIO DE INSERCION IN ROW  -->
        <div fxLayout="row wrap">
          <div fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
            <form [formGroup]="formGroupNotificacion">
              <mat-form-field class="form-search" appearance="outline" >
                <mat-label>Ciudad</mat-label>
                <mat-select formControlName="t_ciudad">
                  <mat-option *ngFor="let option of this.dataOptions.ciudad" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
          <div fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroupNotificacion" >
              <mat-form-field  class="form-search"  appearance="outline" >
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="pickerNotificacion" (click)="pickerNotificacion.open()" formControlName="t_fecha" readonly>
                <mat-datepicker #pickerNotificacion></mat-datepicker>
              </mat-form-field>
            </form>
          </div>
          <div fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroupNotificacion" >
              <mat-form-field class="form-search" appearance="outline">
                <mat-label>Hora</mat-label>
                <input matInput type="time" formControlName="t_hora" placeholder="start date">
              </mat-form-field>
            </form>
          </div>
          <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroupNotificacion" >
              <mat-form-field class="form-search" appearance="outline">
                <mat-label>Emitida a:</mat-label>
                <input type="text" (change)="valNotificados($event.target.value)" matInput [matAutocomplete]="auto1" [formControl]="filterNotificados" onkeypress="return(event.charCode != 39)">
                <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="handler($event.option)">
                 <mat-option (click)="insertNotificados()" > + Agregar nuevo</mat-option>
                  <mat-divider></mat-divider>
                  <mat-option value="Ninguno">Ninguno</mat-option>
                  <mat-divider></mat-divider>
                  <mat-option *ngFor="let option of dataAutoComplete" [value]="option.descripcion">
                    {{ option.descripcion }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error >Seleccione el Mercado</mat-error>
              </mat-form-field>
            </form>
          </div>
          <div fxFlex.gt-lg="25" fxFlex.gt-md="25"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroupNotificacion" >
              <mat-form-field class="form-search" appearance="outline">
                <mat-label>A través</mat-label>
                <input  matInput formControlName="t_atraves" >
              </mat-form-field>
            </form>
          </div>
          <div fxFlex.gt-lg="12" fxFlex.gt-md="12"  fxFlex.gt-xs="10" fxFlex="10">
            <form [formGroup]="formGroupNotificacion" class="form-search" (click)="saveNotificaciones(formGroupNotificacion.value)" >
              <button mat-raised-button color="primary"  matTooltip="Registrar" *ngIf="formGroupNotificacion.valid"><mat-icon>add</mat-icon> Agregar</button>
            </form>
          </div>
        </div>
      <!-- FIN DEL BODY -->
        <!-- BODY - CABECERA DE TABLA NOTIFICACIONES  -->
        <div fxLayout="row wrap" *ngIf="dataNotificaciones.length>0">
          <div class="form-label" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
            Ciudad
          </div>
          <div class="form-label" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
            Fecha
          </div>
          <div class="form-label" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
            Hora
          </div>
          <div class="form-label" fxFlex.gt-lg="35" fxFlex.gt-md="35"  fxFlex.gt-xs="100" fxFlex="100">
            Emitida a
          </div>
          <div class="form-label" fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100" fxFlex="100">
            A través
          </div>
          <div class="form-label" fxFlex.gt-lg="5" fxFlex.gt-md="5"  fxFlex.gt-xs="10" fxFlex="10">
          </div>
        </div>
        <!-- FIN DEL BODY -->
        <!-- BODY - DATA DE TABLA NOTIFICACIONES  -->
        <div fxLayout="row wrap" *ngFor="let data of dataNotificaciones" >
          <div class="form-search" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
            <div class="form-search">
              {{data.t_ciudad}}
            </div>
          </div>
          <div class="form-search" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
            <div class="form-search">
              {{data.t_fecha | date:'dd/MM/yyyy'}}
            </div>
          </div>
          <div class="form-search" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
            <div class="form-search">
              {{data.t_hora}}
            </div>
          </div>
          <div class="form-search" fxFlex.gt-lg="35" fxFlex.gt-md="35"  fxFlex.gt-xs="100" fxFlex="100">
            <div class="form-search">
              {{data.t_aquien}}
            </div>
          </div>
          <div class="form-search" fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100" fxFlex="100">
            <div class="form-search">
              {{data.t_atraves}}
            </div>
          </div>

          <div fxFlex.gt-lg="5" fxFlex.gt-md="5"  fxFlex.gt-xs="5" fxFlex="5">
              <button class="buttonTable" mat-icon-button matTooltip="Eliminar" (click)="deleteRow(data)">
                <mat-icon color="warn">close</mat-icon>
              </button>
          </div>
        </div>
        <!-- FIN DEL BODY -->
      </div>
    <!-- FIN DEL BODY -->
  </div>
<!--FIN DEL BODY -->

<!-- ACTIONS -->
  <div mat-dialog-actions fxLayout="row wrap"   >
    <div fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" >
        <div class="form-element" >
          <button mat-raised-button color="primary" type="submit" class="form-element" matTooltip="Registrar" [disabled]="formGroup.invalid"><mat-icon>save</mat-icon> Guardar</button>
        </div>
        <div class="form-element" >
        </div>
      </form>
    </div>
  </div>
<!-- FIN DE ACTIONS *ngIf="dataRow.length==0"-->
