<!-- HEADER -->
<div fxLayout="row wrap">
  <div>
    <img src="assets/images/logo-aps.png" alt="homepage" class="light-logo">
  </div>
  <span fxFlex></span>
  <button mat-icon-button color="warn" matTooltip="Salir" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<h5 style="text-align: left;">Agregar nuevo notificado</h5>
<!--FIN DEL HEADER -->

<!-- BODY -->
<div mat-dialog-content> <!-- instead of your <div>  or use <div mat-dialog-content> -->
  <!-- FORMULARIO -->
    <!-- FORMULARIO INSECION -->
      <div fxLayout="row wrap">

    <!---------------------- FILA 3 ----------------------------->
      <!-- TITULO -->
        <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Nombre o Descripción</mat-label>
              <input  matInput formControlName="descripcion" onkeypress="return (event.charCode != 39)">
              <mat-error >Ingrese el titulo de la Resolucion</mat-error>
            </mat-form-field>
          </form>
        </div>
    <!---------------------- FIN FILA 3 ------------------------->

    </div>
    <!-- FIN DEL  FORMULARIO INSECION -->
</div>
<!--FIN DEL BODY -->

<!-- ACTIONS -->
<div mat-dialog-actions fxLayout="row wrap"   >
  <div fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" >
      <div class="form-element" *ngIf="dataRow.length==0">
        <button mat-raised-button color="primary" type="submit" class="form-element" matTooltip="Registrar" [disabled]="formGroup.invalid"><mat-icon>save</mat-icon> Guardar</button>
      </div>
    </form>
  </div>
</div>
<!-- FIN DE ACTIONS -->
