<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card class="card">

      <!-- TITULO OK-->
      <mat-card-header>
        <img class="header-image" mat-card-avatar src='assets/images/img/documentos1.jpg' />
        <mat-card-title>{{this.service.title}}</mat-card-title>
      </mat-card-header>
      <!-- ***FIN*** TITULO -->
      
      <mat-divider></mat-divider>

      <!-- BUSQUEDA AVANZADA-->
      <div fxLayout="row wrap" class="container">

        <!-- FORMULARIO DE BUSQUEDA -->
        <div fxFlex="90">

          <!-- DESCRIPCION -->
          <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="50" fxFlex="50" >
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input type="text" maxlength = "100" matInput formControlName="descripcion" onkeypress="return (event.charCode != 39)">
                <button mat-button *ngIf="formGroup.controls['descripcion'].value" matSuffix mat-icon-button color="warn" aria-label="Clear" (click)="formGroup.controls['descripcion'].setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </div>
          <!-- ***FIN*** DESCRIPCION -->

        </div>
        <!-- ***FIN*** FORMULARIO DE BUSQUEDA -->        

        <!-- BOTON LIMPIAR -->
        <span fxFlex></span>
        <button mat-button color="primary" (click)="setForm()">
          <mat-icon>autorenew</mat-icon>
          Limpiar
        </button>
        <!-- ***FIN*** BOTON LIMPIAR -->

      </div>
      <!-- ***FIN*** BUSQUEDA AVANZADA -->

      <mat-divider></mat-divider>

      <!-- TABLA -->
      <div class="container">

        <!-- TITULO DE REGISTROS OK-->
        <div fxLayout="row wrap">

          <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="0" fxFlex="0">
          </div>

          <!-- TITULO CABECERA DE REGISTROS -->
          <div style="text-align: center; padding-top: 10px;" fxFlex.gt-lg="60" fxFlex.gt-md="60"  fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-subtitle >LISTADO DE REGISTROS</mat-card-subtitle>
          </div>
          <!-- FIN TITULO CABECERA DE REGISTROS -->

          <!-- BOTONES DE OPCIONES-->
          <div style="text-align: center;" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="50" fxFlex="50">
            <button mat-button class="form-search" color="primary" (click)="insertRow()">
              <mat-icon>add</mat-icon>
              Nuevo Registro
            </button>
          </div>
          <div style="text-align: center;;" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="50" fxFlex="50">
            <button mat-button color="primary" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon>Opciones</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="downloadpdf()">Reporte Pdf</button>
              <button mat-menu-item (click)="downloadCsv()">Reporte Excel</button>
            </mat-menu>
          </div>
          <!-- FIN BOTONES DE OPCIONES -->

        </div>
        <!-- ***FIN*** TITULO DE REGISTROS -->
        <mat-divider></mat-divider>

        <!-- TABLA DE REGISTROS -->
        <div *ngIf="this.data.length>0">

          <!-- CABECERA DE LA TABLA -->
          <div fxLayout="row wrap" matSort (matSortChange)="sortData($event)" [matSortActive]="this.sort" [matSortDirection]="this.order" matSortDisableClear>
            
            <!-- NOMBRES DE COLUMNAS -->
            <div class="form-table-head" *ngFor="let config of columnsTable" [mat-sort-header]="config.name" [fxFlex.gt-lg]="config.width" [fxFlex.gt-md]="config.width" fxFlex.gt-xs="none" fxFlex=none>
              {{config.label}}
            </div>
            <!-- ***FIN*** NOMBRES DE COLUMNAS -->
            <span fxFlex></span>
            <!-- COLUMNA ACCIONES -->
            <div style="text-align: center;"  class="form-table-head" fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-xs="100" fxFlex="100">
              Acciones
            </div>
            <!-- ***FIN*** COLUMNA ACCIONES -->
          
          </div>
          <!-- ***FIN*** CABECERA DE LA TABLA -->

          <!-- DATA DE LA TABLA -->
          <div fxLayout="row wrap" *ngFor="let row of this.data">

            <!-- FILAS DE LA TABLA -->
            <div class="form-table-body" *ngFor="let column of columnsTable" [fxFlex.gt-lg]="column.width" [fxFlex.gt-md]="column.width"  fxFlex.gt-xs="90" fxFlex="60">
              <div class="form-table-body">
                {{row[column.name]}}
              </div>
            </div>
            <!-- ***FIN*** FILAS DE LA TABLA -->
            <span fxFlex></span>
            <!-- FILA DE ACCIONES -->
            <div style="text-align: center;"  fxFlex.gt-lg="5" fxFlex.gt-md="5"  fxFlex.gt-xs="10" fxFlex="10">
              <button mat-button color="warn" class="form-table-body" (click)="deleteRow(row)"><mat-icon>delete</mat-icon>Borrar</button>
            </div>
            <div style="text-align: center;"  fxFlex.gt-lg="5" fxFlex.gt-md="5"  fxFlex.gt-xs="10" fxFlex="10">
              <button mat-button color="primary" class="form-table-body" (click)="updateRow(row)"><mat-icon>preview</mat-icon>Ver</button>
            </div>
            <!-- ***FIN*** FILA DE ACCIONES -->
            <mat-divider></mat-divider>
          </div>
          <!-- ***FIN*** DATA DE LA TABLA -->

          <!-- PAGINACION DE LA TABLA -->
          <div>
            <mat-paginator [length]="count" [pageSize]="page.size" [pageIndex]="page.index" [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="dataTableUpdate($event)"></mat-paginator>
          </div>
          <!-- ***FIN*** PAGINACION DE LA TABLA -->

        </div>
        <!-- ***FIN*** TABLA DE REGISTROS -->

        <!-- TABLA SIN DATOS OK-->
        <div *ngIf="this.data.length==0">
          <div><mat-divider></mat-divider></div>
          <div fxLayout="row wrap">
            <div style="text-align: left; padding: 10px 10px;" fxFlex="100">
              <mat-card-subtitle >**No se encontraron registros**</mat-card-subtitle>
            </div>
          </div>
        </div>
        <!-- ***FIN*** TABLA SIN DATOS -->

      </div>
      <!-- ***FIN*** TABLA -->       
      
      <mat-divider></mat-divider>
    </mat-card>
  </div>
</div>
