<div *ngIf="this.authorizationService.isAuthorized('administrador')" fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card class="card">

    <!-- TITULO CABECERA -->
      <mat-card-header>
        <img mat-card-avatar src="assets/images/img/documentos1.jpg" class="header-image"/>
        <mat-card-title>Administrador</mat-card-title>
        <span fxFlex></span>
        <div style="text-align: right;"  fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100" >
        </div>
        <div style="text-align: right;"  fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100" >
          <button mat-button color="primary" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon>{{ _words.esp.opciones }}</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="downloadpdf()">{{ _words.esp.reportePDF }}</button>
              <button mat-menu-item (click)="downloadxlsx()">{{ _words.esp.reporteExcel }}</button>
            </mat-menu>
        </div>
      </mat-card-header>
    <!-- FIN CABECERA -->

    <!--SUB TITULO O TITULO DE LA TABLA-->
    <!--BUSQUEDA AVANZADA-->
    <div *ngIf="this.authorizationService.isAuthorized('administrador')" fxLayout="row wrap">
      <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100" >
        <div fxLayout="row wrap" >
            <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
              <form  [formGroup]="formGroup" >
                <mat-form-field class="form-search" appearance="outline" >
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="etapa">
                      <mat-option value="">TODOS</mat-option>
                      <mat-option *ngFor="let option of estado" [value]="option.value">{{option.label}}</mat-option>
                    </mat-select >
                </mat-form-field>
              </form>
            </div>
            <div fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
              <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline" >
                  <mat-label>Gestión</mat-label>
                  <mat-select formControlName="year">
                    <mat-option value='0'>TODOS</mat-option>
                    <mat-option *ngFor="let option of this.dataOptions.years" [value]="option.label" >{{option.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
            <div fxFlex.gt-lg="25" fxFlex.gt-md="25"  fxFlex.gt-xs="100" fxFlex="100">
              <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline" >
                  <mat-label>Tipo de documento</mat-label>
                  <mat-select formControlName="tipo">
                    <mat-option value="">TODOS</mat-option>
                    <mat-option *ngFor="let option of this.dataOptions.documentos" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
            <div fxFlex.gt-lg="35" fxFlex.gt-md="35"  fxFlex.gt-xs="100" fxFlex="100">
              <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline" >
                <mat-label>Tipo de resolución</mat-label>
                <mat-select formControlName="subtipo">
                  <mat-option value="">TODOS</mat-option>
                  <mat-option *ngFor="let option of this.dataOptions.tipo" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            </div>
            <div fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
              <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline" >
              <mat-label>Mercado</mat-label>
              <mat-select formControlName="mercado">
                <mat-option value=''>TODOS</mat-option>
                <mat-option *ngFor="let option of this.dataOptions.mercado" [value]="option.cod_ele" >{{option.descrip}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
            </div>
            <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100" >
              <form  [formGroup]="formGroup" >
                <mat-form-field class="form-search" appearance="outline">
                  <mat-label>Número</mat-label>
                  <input type="text"  matInput formControlName="numero" maxlength = "4" autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                  <button mat-button *ngIf="formGroup.controls['numero'].value" matSuffix mat-icon-button color="warn" aria-label="Clear" (click)="formGroup.controls['numero'].setValue('')">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </form>
            </div>
            <div fxFlex.gt-lg="40" fxFlex.gt-md="40"  fxFlex.gt-xs="100" fxFlex="100" >
              <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline">
                  <mat-label>Título</mat-label>
                  <input type="text" maxlength = "100" matInput formControlName="titulo" onkeypress="return (event.charCode != 39)">
                  <button mat-button *ngIf="formGroup.controls['titulo'].value" matSuffix mat-icon-button color="warn" aria-label="Clear" (click)="formGroup.controls['titulo'].setValue('')">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </form>
            </div>
            <div fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="100" fxFlex="100" >
              <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline">
                  <mat-label>Desde</mat-label>
                  <button mat-button *ngIf="formGroup.controls['del'].value" matSuffix mat-icon-button color="warn" aria-label="Clear" (click)="formGroup.controls['del'].setValue('')">
                    <mat-icon>close</mat-icon>
                  </button>
                  <input [matDatepicker]="desde" (click)="desde.open()" matInput formControlName="del" readonly>
                  <mat-datepicker #desde></mat-datepicker>
              </mat-form-field>
            </form>
            </div>
            <div fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="100" fxFlex="100" >
              <form  [formGroup]="formGroup" >
              <mat-form-field class="form-search" appearance="outline">
                <mat-label>Hasta</mat-label>
                <input [matDatepicker]="hasta" (click)="hasta.open()" matInput formControlName="al" readonly>
                <button mat-button *ngIf="formGroup.controls['al'].value" matSuffix mat-icon-button color="warn" aria-label="Clear" (click)="formGroup.controls['al'].setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-datepicker #hasta></mat-datepicker>
              </mat-form-field>
            </form>
            </div>
            <div style="text-align: center;" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100" >
              <button mat-button class="form-search" color="primary" (click)="setForm()">
                <mat-icon>autorenew</mat-icon>
                Limpiar</button>
            </div>
        </div>
      </div>
    </div>
  <!-- FIN BUSQUEDA AVANZADA -->

    <!-- CABECERAS DE LA TABLA -->
      <div fxLayout="row wrap" matSort (matSortChange)="sortData($event)" matSortActive="rc_fecha" matSortDirection="desc" matSortDisableClear>
        <div   class="form-table-head"
        *ngFor="let config of headersTable" [mat-sort-header]="config.name" [fxFlex.gt-lg]="config.width" [fxFlex.gt-md]="config.width" fxFlex.gt-xs="100" fxFlex="100">
        {{config.label}}
        </div>
        <div class="form-table-head" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
        </div>
      </div>
    <!-- FIN CABECERAS DE LA TABLA -->

    <!-- DATA DE LA TABLA -->
    <div fxLayout="row wrap" *ngFor="let config of data">
      <div class="form-table-body"   fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="100" fxFlex="100">
        <div class="form-table-body" >
          {{config['tipo']}}
        </div>
      </div>
      <div class="form-table-body"   fxFlex.gt-lg="19" fxFlex.gt-md="19"  fxFlex.gt-xs="100" fxFlex="100">
        <div class="form-table-body" >
          {{config['subtipo']}}
        </div>
      </div>
      <div class="form-table-body"   fxFlex.gt-lg="8" fxFlex.gt-md="8"  fxFlex.gt-xs="100" fxFlex="100">
        <div class="form-table-body" >
          {{config['rc_numero']}}
        </div>
      </div>
      <div class="form-table-body"   fxFlex.gt-lg="8" fxFlex.gt-md="8"  fxFlex.gt-xs="100" fxFlex="100">
        <div class="form-table-body" >
          {{config['rc_fecha']| date:'dd/MM/yyyy'}}
        </div>
      </div>
      <div class="form-table-body"   fxFlex.gt-lg="8" fxFlex.gt-md="8"  fxFlex.gt-xs="100" fxFlex="100">
        <div class="form-table-body" >
          {{config['etapa']}}
        </div>
      </div>
      <div class="form-table-body"   fxFlex.gt-lg="32" fxFlex.gt-md="32"  fxFlex.gt-xs="100" fxFlex="100">
        <div class="form-table-body" >
          {{config['rc_titulo']}}
        </div>
      </div>
      <div style="text-align: right;" *ngIf="!this.authorizationService.isAuthorized('consulta')" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="10" fxFlex="10">
        <button *ngIf="config.rc_filesize>0&&config.etapa=='CREADO'" mat-icon-button matTooltip="ver adjunto" (click)="openPdf(config)">
          <mat-icon color="warn">picture_as_pdf</mat-icon>
        </button>
        <button *ngIf="config.etapa=='APROBADO'" mat-icon-button matTooltip="Aprobado" (click)="documentRow(config)">
          <mat-icon style="color: green;">verified_user</mat-icon>
        </button>
        <button *ngIf="config.etapa=='PENDIENTE'"mat-icon-button matTooltip="Pendiente" (click)="pendienteRow(config)">
          <mat-icon color='warn'>privacy_tip</mat-icon>
        </button>
          <button mat-icon-button matTooltip="Editar" (click)="updateRow(config)">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Eliminar" (click)="deleteRow(config)">
            <mat-icon color="warn">delete</mat-icon>
          </button>

      </div>
      <mat-divider></mat-divider>
    </div>
    <!-- FIN DATA DE LA TABLA -->

    <!-- PAGINACION DE LA TABLA -->
    <div >
      <mat-paginator [length]="count" [pageSize]="page.size" [pageIndex]="page.index" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="dataTableUpdate($event)"></mat-paginator>
    </div>
    <!-- FIN PAGINACION DE LA TABLA -->

    </mat-card>
  </div>
</div>
