<!-- HEADER -->
<div fxLayout="row wrap">
  <div>
    <img src="assets/images/logo-aps.png" alt="homepage" class="light-logo">
  </div>
  <span fxFlex></span>
  <button mat-icon-button color="warn" matDialogClose="cancel" matTooltip="Salir" (click)="close('close')">
    <mat-icon>close</mat-icon>
  </button>
</div>
<h2 mat-dialog-title class="head-dialog" style="text-align: center;">Aprobación de documentos</h2>
<!--FIN DEL HEADER -->

<!-- BODY -->
<div mat-dialog-content> <!-- instead of your <div>  or use <div mat-dialog-content> -->
  <!-- FORMULARIO -->
    <!-- SUBTITULO FORMULARIO -->
      <mat-card-subtitle>{{_words.esp.datosDocumento}}</mat-card-subtitle>
    <!-- FIN SUBTITULO FORMULARIO -->
    <!--BUSQUEDA AVANZADA-->
    <div fxLayout="row wrap">
      <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100" >
        <div fxLayout="row wrap" >
            <div fxFlex.gt-lg="50" fxFlex.gt-md="50"  fxFlex.gt-xs="100" fxFlex="100">

              <!-- FORMULARIO INSECION -->
              <div fxLayout="row wrap">

                <!----------------------- PUBLICADO ----------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Publicado:</b>
                  </div>
                  <div fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    <form  [formGroup]="formGroup" >
                      <mat-form-field class="form-element" appearance="outline" >
                        <mat-label>Publicar en la web</mat-label>
                        <mat-select formControlName="rc_publicar_web">
                          <mat-option *ngFor="let option of this.dataOptions.publicar" [value]="option.value">{{option.label}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </div>
                </div>

                <!----------------------- DOCUMENTO ----------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Documento:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    {{data.data.tipo}}
                  </div>
                </div>

                <!----------------------- TIPO DE RESOLUCION ----------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Tipo Resolución:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    <form  [formGroup]="formGroup" >
                      <mat-form-field class="form-element" appearance="outline" >
                        <mat-label>Tipo de Resolución</mat-label>
                        <mat-select formControlName="rc_subtipo">
                          <mat-option *ngFor="let option of this.dataOptions.tipo" [value]="option.cod_ele">{{option.descrip}}</mat-option>
                        </mat-select>
                        <mat-error >Seleccione el tipo de Resolucion</mat-error>
                      </mat-form-field>
                    </form>
                  </div>
                </div>

                <!----------------------- FECHA ----------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Fecha:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    {{data.data.rc_fecha | date:'dd/MM/yyyy'}}
                  </div>
                </div>

                <!----------------------- NUMERO ----------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Número:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    {{data.data.rc_numero}}
                  </div>
                </div>

                <!----------------------- MERCADO ----------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Mercado:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    {{data.data.mercado}}
                  </div>
                </div>

                <!----------------------- TITULO ----------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Titulo:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    <form  [formGroup]="formGroup" >
                      <mat-form-field class="form-element" appearance="outline">
                        <input  matInput formControlName="rc_titulo"  maxlength = "1000">
                        <mat-error >Ingrese el titulo de la Resolucion</mat-error>
                      </mat-form-field>
                    </form>
                  </div>
                </div>

                <!---------------------- COMENTARIOS ----------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Comentario:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    <form  [formGroup]="formGroup" >
                      <mat-form-field class="form-element" appearance="outline">
                        <input  matInput formControlName="rc_comentarios"  maxlength = "2000">
                        <mat-error >Ingrese un comentario</mat-error>
                      </mat-form-field>
                    </form>
                  </div>
                </div>

                <!---------------------- NOMBRE DEL ARCHIVO ----------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Nombre del Archivo:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    {{data.data.rc_filename}}
                  </div>
                </div>

                <!---------------------- CREADO POR  ------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Creado por:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    {{data.data.usuario_creacion}}
                  </div>
                </div>

                <!---------------------- DERIVADO A ------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Derivado a:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    {{data.data.usuario}}
                  </div>
                </div>

                <!---------------------- ESTADO ------------------------->
                <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
                  <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                    <b>Estado:</b>
                  </div>
                  <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
                    {{data.data.etapa}}
                  </div>
                </div>

              </div>
              <!-- FIN DEL  FORMULARIO INSECION -->

              <!-- BODY - NOTIFICACIONES  -->

              <!-- BODY - DATA DE TABLA NOTIFICACIONES  -->
              <div *ngIf="disabledNotificaciones">
                <mat-card-subtitle >{{_words.esp.registroNotificaciones}}</mat-card-subtitle>
                <!-- FIN DEL BODY -->

                <!-- BODY - CABECERA DE TABLA NOTIFICACIONES  -->
                  <div fxLayout="row wrap" *ngIf="dataNotificaciones.length>0">
                    <div class="form-label" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
                      Ciudad
                    </div>
                    <div class="form-label" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                      Fecha/Hora
                    </div>
                    <div class="form-label" fxFlex.gt-lg="40" fxFlex.gt-md="40"  fxFlex.gt-xs="100" fxFlex="100">
                      Emitida a
                    </div>
                    <div class="form-label" fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100" fxFlex="100">
                      A través
                    </div>
                  </div>
                  <!-- FIN DEL BODY -->

                  <!-- BODY - DATA DE TABLA NOTIFICACIONES  -->
                  <div fxLayout="row wrap" *ngFor="let data of dataNotificaciones" >
                    <div class="form-search" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
                      <div class="form-search">
                        {{data.t_ciudad}}
                      </div>
                    </div>
                    <div class="form-search" fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100" fxFlex="100">
                      <div class="form-search">
                        {{data.t_fecha | date:'dd/MM/yyyy'}}-{{data.t_hora}}
                      </div>
                    </div>
                    <div class="form-search" fxFlex.gt-lg="40" fxFlex.gt-md="40"  fxFlex.gt-xs="100" fxFlex="100">
                      <div class="form-search">
                        {{data.t_aquien}}
                      </div>
                    </div>
                    <div class="form-search" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
                      <div class="form-search">
                        {{data.t_atraves}}
                      </div>
                    </div>
                  </div>
                  <!-- FIN DEL BODY -->
                </div>
              <!-- FIN DEL BODY -->
            </div>
            <div *ngIf="data.data.rc_filesize>0" style="text-align: center;" fxFlex.gt-lg="50" fxFlex.gt-md="50"  fxFlex.gt-xs="100" fxFlex="100" >
              <pdf-viewer [src]="src"
              [render-text]="true"
              [original-size]="false"
              style="height: 400px;"
              ></pdf-viewer>

            </div>
            <div *ngIf="data.data.rc_filesize==0" style="text-align: center;" fxFlex.gt-lg="50" fxFlex.gt-md="50"  fxFlex.gt-xs="100" fxFlex="100" >
              <img style="height: 300px;" src="assets/images/pdf-error.png" alt="homepage" class="light-logo">
              <p>El archivo no fue registrado</p>
            </div>
        </div>
      </div>
    </div>
  <!-- style="width: 300px; height: 500px" -->

</div>
<!--FIN DEL BODY -->

<!-- ACTIONS -->
<div mat-dialog-actions fxLayout="row wrap"   >
  <div fxFlex.gt-lg="50" fxFlex.gt-md="50"  fxFlex.gt-xs="100" fxFlex="100">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
      <div class="formulario" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <b>Observaciones:</b>
      </div>
      <div class="formulario" fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
        <form  [formGroup]="formGroup" >
          <mat-form-field class="form-element" appearance="outline"  >
            <mat-label>*Requerido solo en caso de rechazo del registro</mat-label>
            <input  matInput formControlName="observaciones" maxlength = "250" >
            <mat-error >Ingrese un comentario</mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    <div *ngIf="data.data.rc_filesize>0" class="form-element" >
      <button mat-button color="primary" (click)="downloadPdf()"><mat-icon>file_download</mat-icon>Descargar</button>
    </div>
  </div>
  <div   fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="100" fxFlex="100">
    <form [formGroup]="formGroup"  >
      <div class="form-element" >
        <button mat-raised-button color="warn"  (click)="refuse(formGroup.value)" class="form-element" matTooltip="Registrar" [disabled]="!disabledObservaciones"><mat-icon>cancel</mat-icon> Rechazar</button>
      </div>
    </form>
  </div>
  <div fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="100" fxFlex="100">
    <form [formGroup]="formGroup"  >
      <div class="form-element" >
        <button mat-raised-button style="background-color: green; color: white;"  (click)="checker(formGroup.value)" class="form-element" matTooltip="Registrar" [disabled]="formGroup.invalid"><mat-icon>done</mat-icon> Aprobar</button>
      </div>
    </form>
  </div>

</div>
<!-- FIN DE ACTIONS *ngIf="dataRow.length==0"-->
